<div class="centra">
  <div style="height: 45px;">
    <h1 class="text" *ngIf="showText">
      GIOCA A TRISLALLO
    </h1>
  </div>

  <div class="container">
    <div class="board">
      <div *ngFor="let cell of gamingTable">
        <button class="cell" [disabled]="!isPlaying || cell.isClicked" (click)="makeMove(cell)">
          <img [ngClass]="cell?.image ? 'imageInGame' : ''" [src]="cell?.image" alt="">
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="showText" class="row">
    <div class="col-5"></div>
    <div class="list-group col-2">
      <li class="list-group-item">
        <input class="form-check-input me-1" type="radio" name="listGroupRadio" [value]="1" [(ngModel)]="currentPlayer"
          id="firstRadio" checked>
        <label class="form-check-label" for="firstRadio">
          fasullo
          <img class="image" src="assets/fasullo.jpg" alt="">
        </label>
      </li>
      <li class="list-group-item">
        <input class="form-check-input me-1" type="radio" name="listGroupRadio" [value]="2" [(ngModel)]="currentPlayer"
          id="secondRadio">
        <label class="form-check-label" for="secondRadio">
          lallo
          <img class="image" src="assets/lallo.jpg" alt="">
        </label>
      </li>
    </div>
  </div>

  <div>
    <button type="button" class="btn btn-primary playButton" *ngIf="showText" (click)="play()">Play</button>
  </div>
  <div>
    <button type="button" class="btn btn-primary playButton" *ngIf="!showText" (click)="reset()">Reset</button>
  </div>
</div>