<div class="centra">
  <div class="mb-5" *ngIf="showText">
    <h1 class="text" style="font-size: 50px;">
      GIOCA A TRISLALLO
    </h1>
  </div>

  <div class="mb-3 row" *ngIf="!showText">
    <div class="col-6">
      <h1 class="text mb-3">
        PUNTEGGIO
      </h1>
      <div>
        <h1 style="color: white;">
          <span style="background-color: blueviolet; border-top-left-radius: 10px; border-bottom-left-radius: 10px;">
            {{player1Name}}
          </span>
          <span style="background-color: black;">
            {{player1Score}} - {{player2Score}}
          </span>
          <span style="background-color: blueviolet; border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
            {{player2Name}}
          </span>
        </h1>
      </div>
    </div>

    <div class="col-2"></div>

    <div class="col-2" style="text-align: center;">
      <h1 class="text mb-3">
        ROUND
      </h1>
      <div class="rounds">
        <h1>
          {{roundsNumber}}
        </h1>
      </div>
    </div>
  </div>

  <div *ngIf="!showText" class="container mb-3">
    <div class="board">
      <div *ngFor="let cell of gamingTable">
        <button class="cell" [disabled]="!isPlaying || cell.isClicked" (click)="makeMove(cell)">
          <img [ngClass]="cell?.image ? 'imageInGame' : ''" [src]="cell?.image" alt="">
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="showText" class="row mb-5">
    <div class="col-5"></div>
    <div class="list-group col-2">
      <p class="text" style="font-size: 20px;">quali immagini desideri usare?</p>
      <li class="list-group-item">
        <input class="form-check-input me-1" type="radio" name="listGroupRadio" [value]="1" [(ngModel)]="whichImages"
          id="firstRadio" checked>
        <label class="form-check-label" for="firstRadio">
          <img class="image" src="assets/x-removebg-preview.png" alt="">
          <img class="image" src="assets/o-removebg-preview.png" alt="">
        </label>
      </li>
      <li class="list-group-item">
        <input class="form-check-input me-1" type="radio" name="listGroupRadio" [value]="2" [(ngModel)]="whichImages"
          id="secondRadio">
        <label class="form-check-label" for="secondRadio">
          <img class="image" src="assets/fasullo.jpg" alt="">
          <img class="image" src="assets/lallo.jpg" alt="">
        </label>
      </li>
    </div>
  </div>

  <div class="row">
    <div class="col-4"></div>
    <div *ngIf="showText" class="mb-3 col-4">
      <div class="mb-2">
        <label for="inputPassword5" class="form-label text">Player1 name:</label>
        <input type="email" id="inputPassword5" class="form-control" [(ngModel)]="player1Name">
      </div>
    
      <div>
        <label for="inputPassword5" class="form-label text" style="color: blueviolet;">Player2 name:</label>
        <input type="email" id="inputPassword5" class="form-control" [(ngModel)]="player2Name">
      </div>
    </div>  
  </div>
  
  <div>
    <div *ngIf="showText">
      <button type="button" class="btn btn-primary playButton mb-3" (click)="play()">Play</button>
    </div>
    <div *ngIf="!showText">
      <button type="button" class="btn btn-primary playButton mb-3" style="margin-right: 10px;"
        (click)="resetBoard()">Reset Board</button>
      <button type="button" class="btn btn-primary playButton mb-3" style="margin-right: 10px;"
        (click)="resetScore()">Reset Score</button>
      <button type="button" class="btn btn-primary playButton mb-3" style="margin-right: 10px;"
        (click)="resetMatch()">Reset Match</button>
    </div>
  </div>
</div>